:root {
	--primary-color: #ec1f55;
	--text-color: #333;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	background-color: #333;
}

html {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.player {
	position: relative;
	background: #f5f5f5;
	max-width: 480px;
	margin: 0 auto;
}

.player .icon-pause {
	display: none;
}

.player.playing .icon-pause {
	display: inline-block;
}

.player.playing .icon-play {
	display: none;
}

.dashboard {
	padding: 16px 16px 14px;
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 480px;
	border-bottom: 1px solid #ebebeb;
	z-index: 1;
}

/* HEADER */
header {
	text-align: center;
	margin-bottom: 10px;
}

header h4 {
	color: var(--primary-color);
	font-size: 12px;
}

header h2 {
	color: var(--text-color);
	font-size: 20px;
}

/* CD */
.cd {
	display: flex;
	margin: auto;
	width: 200px;
}

.cd-thumb {
	width: 100%;
	padding-top: 100%;
	border-radius: 50%;
	background-color: #333;
	background-size: cover;
	margin: auto;
}

/* CONTROL */
.control {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 18px 0 8px 0;
}

.control .btn {
	color: #666;
	padding: 18px;
	font-size: 18px;
}

.control .btn.active {
	color: var(--primary-color);
}

.control .btn-toggle-play {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color);
}

.progress {
	width: 100%;
	-webkit-appearance: none;
	height: 6px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 6px;
	background-color: var(--primary-color);
	cursor: pointer;
}
/* SCREEN SLIDER */
.screen {
	position: relative;
	margin-bottom: 50px;
	margin-top: 408px;
}
/* UTILITY BAR */
.utilBar {
	display: flex;
	justify-content: space-between;
	padding: 0 16px;
	margin-bottom: 10px;
}
.utilBar .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	background: var(--primary-color);
	border-radius: 50%;
	width: 42px;
	height: 42px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
	transition: all 0.3s ease;
	color: #fff;
}
.utilBar .btn:active {
	opacity: 0.8;
}
.utilBar .title {
	line-height: 40px;
	border-radius: 16%/50%;
	width: 120px;
	height: 42px;
	text-align: center;
	color: #fff;
	background: var(--primary-color);
	box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}
.utilBar .icon-pause {
	display: none !important;
}
.utilBar.playing .icon-pause {
	display: block !important;
}
.utilBar .icon-play {
	display: block !important;
}
.utilBar.playing .icon-play {
	display: none !important;
}
/* PLAYLIST */
.playlist {
	padding: 12px;
	min-height: calc(100vh - 403px);
}
.song {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	background-color: #fff;
	padding: 8px 16px;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.song.active {
	background-color: var(--primary-color);
}

.song:active {
	opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
	color: #fff;
}

.song .thumb {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-size: cover;
	margin: 0 8px;
}

.song .body {
	flex: 1;
	padding: 0 16px;
}

.song .title {
	font-size: 18px;
	color: var(--text-color);
}

.song .author {
	font-size: 12px;
	color: #999;
}

.song .option {
	padding: 16px 8px;
	color: #999;
	font-size: 18px;
}
/* LYRICS */
.lyrics {
	display: none;
	text-align: center;
	padding: 12px;
}
.lyrics .active {
	color: var(--primary-color);
}
.lyrics p {
	cursor: pointer;
}
/* PLAY LIBRARY */
.playLib {
	padding: 12px 0;
	min-height: calc(100vh - 120px);
	display: none;
}
.playLib .header {
	padding: 16px 16px 14px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 480px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	z-index: 1;
}
.playLib .header .btn {
	position: absolute;
	text-align: center;
	right: 0px;
	width: 64px;
	line-height: 32px;
	line-height: 48px;
	font-size: 20px;
	color: #666;
	cursor: pointer;
}
.playLib-container {
	display: flex;
	padding: 16px 16px 14px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.list {
	display: flex;
	flex-direction: column;
	width: 48%;
	margin-bottom: 12px;
	background-color: #fff;
	padding: 16px;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	text-align: center;
	transition: background-color 0.2s ease;
}
.playLib-container .list .icon-pause {
	display: none;
}

.playLib-container .list.playing .icon-pause {
	display: block;
}
.playLib-container .list .icon-play {
	display: block;
}
.playLib-container .list.playing .icon-play {
	display: none;
}

.playLib-container .list:hover .btn {
	transform: translateY(-8px);
	opacity: 1;
}
.playLib-container .list .thumb {
	position: relative;
	width: 100%;
	padding-top: 100%;
	border-radius: 5%;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../image/Arcueid2.jpg");
}
.playLib-container .list:hover {
	background-color: rgb(255, 238, 238);
}
.playLib-container .thumb .btn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 4px;
	right: 12px;
	background: var(--primary-color);
	border-radius: 50%;
	width: 42px;
	height: 42px;
	opacity: 0;
	cursor: auto;
	z-index: 1;
	box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
	transition: all 0.3s ease;
	color: #fff;
}
.playLib-container .thumb .btn:hover {
	transform: scale(1.1) translateY(-8px);
}
.playLib-container .thumb .btn:active {
	opacity: 0.8;
}
.playLib-container .list .body {
	margin-top: 10px;
}
/* NAVIGATION BAR */
.nav-bar {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	bottom: 0;
	height: 60px;
	padding: 0 16px;
	background-color: #fff;
	width: 100%;
	max-width: 480px;
	box-shadow: 0 1px 2px rgb(0, 0, 0);
	text-align: center;
	z-index: 1;
}
.nav-bar .btn {
	color: #666;
	padding: 4px 18px;
	font-size: 18px;
	width: 100px;
	cursor: pointer;
}
.nav-bar a {
	text-decoration: none;
}

.nav-bar .btn.active {
	color: #fff;
	background-color: var(--primary-color);
}
/* MODAL OPTION */
.modal-option {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 136px;
	background: #ebebeb;
	color: #333;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	padding: 4px 5px;
	cursor: pointer;
}
.modal-option > *:hover {
	background: var(--primary-color);
	border-radius: 5px;
	color: #fff;
}
.credits,
.share,
.add {
	padding: 4px 4px;
}
.modal-credit {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(51, 51, 51, 0.23);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.modal-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	height: 200px;
	background: #ebebeb;
	color: #333;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	padding: 4px 5px;
}
.modal-container > * {
	padding: 4px 4px;
}
.modal-container :hover {
	background: var(--primary-color);
	border-radius: 5px;
	color: #fff;
}
